body{
    width: 100%;
    margin: 10px;
    overflow-x: hidden;
}


.navbar{
    background-color: pink;
    padding: 20px;
    width: auto;
}

.navbar-box{
    font-size: 20px;
    width: 100%;
}

.nav-links{
    list-style-type: none;
    display: flex;
    justify-content:flex-start ;
    justify-content: space-around;
}

.body-title{
    text-align: center;
    font-size: 30px;
}

.body-about{
    font-size: 20px;
    margin: 10px;
}

.body-container{
    background-color: pink;
}



/*body*/
.cards-box{
    background-color: pink;
    display: grid;
    
}


.cards-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    
}

.cards-container{
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-template-rows: 430px 430px 430px;
   justify-content: center;
   justify-content: space-around;
  
}

.cards{
    background-color: lightblue;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.card-img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid black;
}

.display-more-button{
    text-align: center;
}


/* footer */

.footer-container{
    background-color: pink;
    padding: 10px 10px 10px 10px;
}

.footer-link-title{
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.follow-us{
    
}

.follow-us-title{
    text-align: center;
}

.social-media{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* login*/

.login-container{
    display: flex;
    justify-content: center;
}

.login-title{
    text-align: center;
}

.form-lines{
    font-size: 30px;
    padding: 10px;
    
}

.inputs{
    height: 30px;
    width: 300px;
}

.form-container{
    display:flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    text-align: end;

}

.form-container-container{
    display: flex;
    justify-content: center;
}

.login-container-container{
    margin: 100px;
    border: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: pink;
    padding: 50px;
}

.submit-button{
    text-align: center;
    padding: 10px;
    display: flex;

   
}

.submit-button-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.submit-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}









/*About*/
.about-container-container{
    border: solid black 2px;
    display: flex;
    justify-content: center;
    padding: 20px;

}


.about-container{
    border: 2px solid black;
    margin: 20px;
    background-color: pink;
    width: 50%;
    
}

.about-title{
    text-align: center;
}

.about-paragraph-container{
    display: flex;
    justify-content: center;
    

}

.about-paragraph{
    width: 50%;
    font-size: 20px;
}
.adoption-details-container{
    display: flex;
    flex-direction: column;
}

.adoption-details-title{
    text-align: center;
}

.adoption-numbers{
    font-size: 20px;
    width: 50%;
    
}